# SIT Tiny Kite, configuration file for systemd.
#
# by sunnysab (sunnysab.cn)
# Shanghai Institute of Technology
# July 17, 2020
#
# TODO: Run as a low-privilege user.
# TODO: Set directory restriction.
#

[Unit]
Description=SIT Tiny Kite Server
After=network.target

[Service]
Type=simple
ExecStart=/var/kite/kite-server
# As mentioned in actix.rs/docs, send TERM signal to down http server gracefully.
# However, it may cost a few seconds, so we use INT(2).
ExecStop=/bin/kill -2 $MAINPID
PrivateTmp=true
# Ref: http://www.jinbuguo.com/systemd/systemd.exec.html#WorkingDirectory=
WorkingDirectory=/var/kite
User=www-data

[Install]
Alias=kite
WantedBy=multi-user.target